{% if section.settings.show_powered_by %}
  <footer class="password-footer text-center" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="password-footer">
    {% capture shopify %}
    <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
      <span class="visually-hidden">Shopify</span>
      {% include 'icon-shopify-logo' %}
    </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
  </footer>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "ms": "Pengaki",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": {
        "da": "Vis \"leveres af Shopify\"",
        "de": "'Powered by Shopify' anzeigen",
        "en": "Show 'powered by Shopify'",
        "es": "Mostrar 'Tecnología Shopify'",
        "fi": "Näytä Shopify-verkkokaupat",
        "fr": "Afficher « Propulsé par Shopify »",
        "hi": "'द्वारा संचालित Shopify'",
        "it": "Mostra 'Powered by Shopify'",
        "ja": "「Powered by Shopify」を表示する",
        "ko": "'Shopify에 의해 구동됨' 표시갤러리에서 ",
        "ms": "Tunjukkan 'dikuasakan oleh Shopify'",
        "nb": "Vis «drevet av Shopify»",
        "nl": "'Mogelijk gemaakt door Shopify' weergeven",
        "pt-BR": "Exibir \"Plataforma de e-commerce: Shopify\"",
        "pt-PT": "Mostrar \"com tecnologia Shopify\"",
        "sv": "Visa \"powered by Shopify\"",
        "th": "แสดง 'ได้รับการสนับสนุนโดย Shopify'",
        "zh-CN": "显示“由 Shopify 提供支持”",
        "zh-TW": "顯示「由 Shopify 提供技術支援」"
      },
      "default": true
    }
  ]
}
{% endschema %}
